@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
/* @import "node_modules/react-modal-video/scss/modal-video.scss"; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f6f7f9;
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #111;
}
a:hover {
  color: #111;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  outline: none;
  border: none;
  padding: 12px;
  font-weight: 400;
}

::before,
::after {
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  border: none;
  outline: none;
  border: 1px solid rgb(223, 223, 223);
  padding: 10px 30px;
  background-color: rgb(209, 3, 3);
  color: #fff;
}

/* top header area css  */
.top_header {
  background-color: #c9003a;
  color: #fff;
  padding: 5px;
}

.welcome_text {
  padding: 7px 0;
}
.welcome_text p {
  padding: 0;
  line-height: 20px;
  margin: 0;
}

.selector_area ul {
  display: flex;
  justify-content: end;
  position: relative;
}
.selector_area ul li {
  width: 130px;
  padding: 7px 0;
  display: block;
  text-align: end;
  z-index: 9999;
}

.selector_area ul li a {
  padding-right: 5px;
  color: #fff;
}
.sub_menu {
  /* display: none; */
  position: absolute;
  top: 100%;
}
.sub_menu ul {
  display: none;
  background-color: #fff;
  border-top: 1px solid #fff;
}
.sub_menu ul li {
  padding: 7px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  text-align: center;
}
.sub_menu ul li a {
  color: #000;
}
.language:hover .sub_menu ul {
  display: block;
}

/* main deader css  */
.main_header {
  background-color: #e70042;
  color: #fff;
  padding: 15px 0;
}
.logo_area img {
  width: 150px;
}

.top_search_box input[type="text"] {
  border-radius: 0 !important;
  border: 0 !important;
  padding-left: 10px;
  outline: 0 !important;
  box-shadow: none;
}
.top_search_box input[type="text"]:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none;
}

.top_search_box input[type="text"]:hover {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none;
}
/* .top_search_box {
  width: 100%;
  background-color: #fff;
} */
/* .top_search_box input {
  width: 80%;
  padding: 12px;
} */
/* .search_btn {
  width: 20%;
  display: inline-block;
  background-color: #333;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
} */
/* .search_btn i {
  padding-right: 10px;
} */

/* .top_search_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  position: relative;
  margin-bottom: 18px;
}
.top_search_box input {
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
}
.top_search_box i,
.top_search_box span {
  color: #fff;
  position: absolute;
  right: 0;
  background-color: #000;
  width: 20%;
  padding: 12px;
  display: flex;
  justify-content: center;
}
  */
/* .search_box {
  width: 50%;
  display: inline-block;
}
.search_box input {
  width: 500px;
}

.search_btn {
  width: 100px;
  display: inline-block;
  background-color: #000;
  padding: 13px;
} */
.hero_user_area {
  display: flex;
  align-items: center;
  justify-content: end;
  /* padding: 5px; */
}
.user_img {
  padding-right: 20px;
}
.user_img i {
  margin-right: 10px;
  background-color: #c50038;
  padding: 12px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.add_to_card span,
.user_img span {
  cursor: pointer;
  font-size: 16px;
  padding-right: 5px;
}
.add_to_card i {
  margin-right: 10px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* slide product css  */

.slider_product {
  padding: 15px 0;
}
.side_menu_items {
  background-color: #fff;
  padding: 20px;
}
.side_menu_items h5 {
  padding-bottom: 10px;
}
.main_slider {
  background-image: url(/src/components/Images/hero-banner3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.main_slider button {
  width: 10px !important;
  height: 10px !important;
  background-color: red !important;
}
.main_slider .carousel-item {
  width: 100%;
  height: 100%;
  padding: 50px;
}
.main_slider .carousel-indicators {
  width: 100px;
  margin-left: 50px;
}
.main_slider #carouselExampleDark {
  height: 100%;
}
.main_slider h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.purchase_btn {
  background: red;
  width: 150px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-top: 20px;
  cursor: pointer;
}

/* 

||||||||||||||||||||||||||||||||||||||||||||
        flash deals inner 
||||||||||||||||||||||||||||||||||||||||||||

*/

.flash_deals_inner {
  background-color: #fff;
  padding: 20px;
}

/* inner_single_brands  */
.inner_brands {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
}
.inner_single_brands img {
  width: 80px;
}
/* 

||||||||||||||||||||||||||||||||||||||||||||
      side menu & slider area 
||||||||||||||||||||||||||||||||||||||||||||

*/

.top_slider_menu_area li {
  padding: 8px 0;
  cursor: pointer;
  width: 100%;
}
.top_slider_menu_area li:hover {
  color: #e8006b;
}
.top_slider_menu_area i {
  margin-right: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  color: #333;
  font-size: 14px;
}
.fa-angle-right {
  background-color: transparent !important;
}
.top_slider_menu_area {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 10px;
}
.top_slider_menu_area .women_icon {
  background-color: #d7f8f0;
  color: #33bdb8;
}
.top_slider_menu_area .computer {
  background-color: #fceed6;
  color: #f5b546;
}
.top_slider_menu_area .sports {
  background-color: #fdeeeb;
  color: #fd9985;
}

.top_slider_menu_area .cloth {
  background-color: #ecf2ff;
  color: #729cf8;
}
.bottom_slider_menu_area {
  padding-top: 10px;
}
.bottom_slider_menu_area li {
  padding: 8px 0;
  list-style: square;
  margin-left: 25px;
  cursor: pointer;
}
.bottom_slider_menu_area li:hover {
  color: #e8006b;
}
.women_menu_item {
  position: relative;
}
.women_sub_menu {
  position: absolute;
  left: 108%;
  top: -50px;
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgb(238, 238, 238);
  display: none;
  width: 700px;
  max-width: 700px;
  /* height: 300px; */
}

.top_slider_menu_area li:hover .women_sub_menu {
  display: block;
}
.corporate_menu_area h5 {
  color: #000;
  position: relative;
  font-size: 14px;
}
.corporate_menu_area h5::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: orange;
  position: absolute;
  top: 25%;
  right: 103%;
}
.corporate_menu_area li {
  padding: 2px 0;
  color: #000;
}
.corporate_menu_area li:hover {
  color: #3b5998;
}
.whats_menu_area {
  background-image: url("https://demo.xpeedstudio.com/bajaar/marketplace1/wp-content/uploads/sites/3/2021/06/hand.png");
  background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* slider icons  */
.slider_icons span {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin: 10px;
}
.single_slider img {
  width: 100% !important;
  height: 300px;
}
.single_slider button {
  width: 10px !important;
  height: 10px !important;
  background-color: red !important;
  border-radius: 50%;
  padding: 0 !important;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
}
.single_slider .carousel-indicators {
  width: 70px;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 10px;
}
.product_title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending_product {
  background-color: #fff;
  padding: 20px;
}
.inner_single_product {
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
}
.product_img {
  position: relative;
}
.discount_offer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
}

/* 

||||||||||||||||||||||||||||||||||||||||||||
          user login & register css
||||||||||||||||||||||||||||||||||||||||||||

*/

.user_login_area {
  background-color: #fff;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.login_area {
  border: 1px solid rgb(231, 231, 231);
  padding: 20px;
}
.login_area input {
  border: 1px solid rgb(209, 209, 209);
  padding: 8px;
  margin-top: 10px;
}
.login_check_box {
  margin-top: 10px;
}
.login_check_box label {
  margin-top: 8px !important;
  margin-left: 7px;
}
.login_btn button {
  width: 100%;
  font-size: 18px;
  margin: 20px 0;
  border: none;
  background-color: #e70042;
}
.forget_password a {
  color: #1da1f2;
  font-size: 16px;
  font-weight: 400;
}
.register_content p {
  text-align: justify;
}
.register_content a {
  color: #1da1f2;
  font-weight: 700;
}
.register_btn button {
  background-color: black;
}
/* 

||||||||||||||||||||||||||||||||||||||||||||
          product details css
||||||||||||||||||||||||||||||||||||||||||||

*/
.product_details_inner {
  background-color: #fff;
  padding: 30px;
}
.single_product_img {
  text-align: center;
}
.single_product_img img {
  max-width: 400px;
}
.product_price {
  padding: 20px;
}
.product_price p {
  font-size: 14px;
  margin: 0;
}
.product_price del,
.product_price span {
  color: gray;
  font-weight: 700;
}
.product_price del {
  color: #000;
}
.product_price .product_name {
  font-size: 12px;
}
.price_start_area {
  padding: 2px 0;
}
.price_start_area i {
  font-size: 0.8125rem !important;
  color: #c3c3c5;
}
.product_price .club_point {
  background-color: #fce0d9;
  padding-left: 5px;
  border-radius: 4px;
  margin-top: 5px;
  color: #000;
  font-weight: 400;
}
.add_btn_area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.add_btn {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add_btn input {
  width: 100px;
}
.add_btn input::placeholder {
  color: #e70042;
}
.add_btn input,
.add_btn p {
  border: 2px solid rgb(240, 8, 8);
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 2px;
  width: 70px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  margin: 5px 2px;
  color: #c9003a;
}
.add_to_cart_btn {
  margin: 5px 0;
  margin-left: 20px;
}
.add_to_cart_btn button {
  border: none;
  padding: 13px 30px;
  font-size: 12px;
  width: 140px;
  background-color: transparent;
  border: 2px solid rgb(240, 8, 8);
  color: #e70042;
}
.add_to_cart_btn button:hover {
  background-color: #e70042;
  color: #fff;
}
.categories {
  border-bottom: 1px solid rgb(219, 219, 219);
  border-top: 1px solid rgb(219, 219, 219);
  margin: 10px 0;
}
.categories p {
  margin: 0;
  padding: 10px 0;
}
.share_btn i {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  color: #e8006b;
  /* border-radius: 2px; */
  box-shadow: 2px 2px 2px rgb(240, 240, 240);
  cursor: pointer;
}
/*
||||||||||||||||||||||||||||||||||||||||||||
          checkout area css
||||||||||||||||||||||||||||||||||||||||||||
*/
.checkout_area {
  background-color: #fff;
}
.add_to_card a {
  color: #fff;
}
.inner_checkout_form input {
  border: 1px solid rgb(224, 224, 224);
}
.inner_checkout_form select {
  padding: 15px;
  margin: 10px 0;
  border: none;
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  outline: none;
  border: 1px solid rgb(224, 224, 224);
}
.inner_checkout_form option {
  outline: none;
  padding: 15px 0;
}
.inner_checkout_form label {
  margin-top: 10px;
}
.check_out_input {
  margin: 10px 0;
}
.check_out_input input {
  padding: 8px;
}
.check_out_input label {
  margin-top: 2px;
}

/* additional info  */
.additional_info textarea {
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  border: 1px solid rgb(206, 206, 206);
  padding: 10px;
  resize: none;
}

/* bank_transfer  */
.bank_transfer {
  background-color: rgb(247, 247, 247);
  padding: 20px;
}
.bank_transfer input {
  padding: 3px;
  margin-right: 15px;
}
.check_box_info {
  background-color: rgb(241, 241, 241);
  padding: 20px;
  /* margin: 50px 0; */
  width: 100%;
  height: 60px;
  position: relative;
}
.check_text_inner::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  left: 50px;
  transform: rotate(45deg);
  background-color: rgb(241, 241, 241);
}
.check_box_info p {
  margin: 0;
}
.payment_icon {
  display: inline;
  margin-top: -5px;
}
.payment_icon img {
  width: 150px;
  height: 30px;
  margin: 0px 5px;
}
.payment_list label {
  margin-top: 2px;
}

.privacy_policy button {
  border-radius: 5px;
}
.privacy_policy button:hover {
  background-color: #000;
}

/* contactUs_area  */
.contactUs_area {
  background-color: #fff;
}
.contact_us_top_area {
  text-align: center;
}
.contact_us_top_area p {
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
}
.contact_us_top_area p::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #2575fc;
  border-radius: 20px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.contact_number,
.email_address,
.location {
  display: flex;
  padding: 20px 0;
}
.location_info i {
  font-size: 30px;
  color: #e70042;
  margin-right: 10px;
}

/* contact_form_inner  */
.contact_form_inner textarea,
.contact_form_inner input {
  display: block;
  border: 1px solid rgb(243, 243, 243);
  width: 100%;
  background-color: #f6f6f6;
}
.contact_form_inner label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.contact_form_inner textarea {
  height: 100px;
  resize: none;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
}
.contact_form_inner button:hover {
  background-color: #000;
}
.contact_us_inner_area {
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: 20px;
}

/* about_us_inner  */
.about_us_inner {
  background-color: #fff;
}
/* .about_img {
  background-image: url("./components//Images//aboutIMG/st_about_shape.png");
  background-position: top left;
  background-repeat: no-repeat;
  
} */
.about_img {
  position: relative;
  height: 600px;
  max-height: 600px;
}
.about_img > img {
  width: 300px;
}
.inner_img img {
  width: 500px;
  text-align: center;
  display: block;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 60px;
}
.about_content h6 {
  color: #e70042;
  letter-spacing: 8px;
  margin-top: 20px;
  padding: 10px 0;
}
.about_content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
}
.about_content > p {
  line-height: 25px;
  color: #aaaaaa;
  margin-top: 20px;
}
.sig_area {
  margin-top: 70px;
  color: #aaaaaa;
}
.sig_area img {
  width: 100px;
}

/* about_service_area  */
.about_service_area {
  background-image: url("./components//Images//aboutIMG/st_services_shape.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #f6faff;
  padding: 80px 0;
}
.top_about_service_area h6 {
  letter-spacing: 10px;
  color: #e70042;
  padding: 10px 0;
}
.top_about_service_area h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 20px 0;
}
.date {
  margin: 20px 0;
}

/* inner_about_service_content  */
.inner_about_service_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(231, 230, 230);
  margin: 10px 0;
  padding-bottom: 35px;
}
.inner_about_service_content h6 {
  color: #e70042;
}
.inner_about_service_content h2 {
  padding: 10px 0;
  font-size: 20px;
}
.inner_about_service_content h2:hover {
  color: #e70042;
}
.inner_about_service_content p {
  color: #9c9a9a;
  /* text-align: justify; */
  line-height: 25px;
}
/* design_agency_area  */
.design_agency_area {
  background-color: #ffffff;
  padding: 30px 0;
}
.agency_text {
  padding: 20px 0;
}
.agency_text h2 {
  font-weight: 700;
  font-size: 3rem;
}
.agency_text p {
  color: #7d8089;
}
.left_img img,
.right_img img {
  max-height: 500px;
  height: 500px;
  margin: 20px 0;
}

/* about_who_are_you  */
.about_who_are_you {
  background-color: #f2f4f8;
  padding: 100px 0;
}
.top_who h2 {
  font-size: 3rem;
  font-weight: 700;
}
.top_who p {
  padding: 30px 0;
}
.inner_who {
  background-color: #fff;
  padding: 50px;
}
.inner_who img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.inner_who h2 {
  padding: 20px 0;
}
.inner_who p {
  color: #a9abad;
}

/* inner_team_membar  */
.our_team_area {
  background-color: #fff;
  padding: 100px 0;
}
.top_team_text h2 {
  font-size: 3rem;
}
.top_team_text p {
  padding: 20px 0;
  line-height: 25px;
}
.inner_team_membar {
  text-align: center;
  border: 1px solid rgb(230, 230, 230);
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
}
.inner_team_membar img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.inner_team_membar:hover h2 {
  color: #e70042;
}
.inner_team_membar h2 {
  margin: 5px 0;
}
/* 
=============================
*/
.five_start {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.five_start .start {
  position: relative;
  /* display: block; */
}
.five_start .start::after {
  content: "";
  position: absolute;
  max-width: 180px;
  width: 170px;
  height: 10px;
  background-color: rgb(194, 194, 194);
  top: 15%;
  left: 110%;
}
.four_start .start::after {
  background-color: rgb(228, 228, 228);
}
.user_review textarea {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  border: 1px solid rgb(230, 230, 230);
}
.inner_review_box {
  display: flex;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 5px;
}
.inner_review_box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}
/* 

||||||||||||||||||||||||||||||||||||||||||||
          accordion_area css
||||||||||||||||||||||||||||||||||||||||||||

*/
/* .accordion_area {
  max-width: 800px;
  margin: auto;
} */
.item {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.title {
  color: #555;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

/* shop area  */
.shop_now {
  background-color: #4060e2;
  border-radius: 20px;
  height: 400px;
}
.inner_shop_now {
  width: 100%;
  height: 400px;
  background-image: url(https://demo.xpeedstudio.com/bajaar/electronics/wp-content/uploads/sites/2/2021/09/tiny_shape_01.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  /* mix-blend-mode: screen; */
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
  color: #fff;
}
.inner_left_site {
  position: relative;
  width: 100%;
  height: 40vh;
}
.left_site {
  position: absolute;
  z-index: 999;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left_site h2 {
  font-size: 56px;
}
.left_site p {
  font-size: 28px;
}
.left_site a {
  color: #fff;
}
.right_site {
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.right_site img {
  width: 300px;
  text-align: center;
  margin: auto;
  display: block;
  z-index: 9999;
  opacity: 1;
}
.inner_left_area h2 {
  padding-bottom: 30px;
  font-size: 3rem;
  font-weight: 700;
}
.inner_left_area p {
  line-height: 25px;
}
.inner_left_area button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 5px;
}
.inner_left_area button:hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #e70042;
}
.inner_right_site p {
  padding: 20px 0;
  line-height: 25px;
  color: #7a7070;
}
.count h2 {
  color: green;
  font-weight: 700;
  font-size: 4rem;
}
.count p {
  padding-top: 10px;
  font-size: 16px;
}
/* clients  */
.client_full_area {
  border-top: 1px solid rgb(224, 224, 224);
}
.clients_area h2 {
  font-size: 4rem;
  font-weight: 700;
}
.clients_area p {
  color: rgb(158, 160, 158);
}
.clients_img {
  padding: 20px;
  text-align: center;
  margin: 10px 0;
}
.clients_img img {
  width: 119px;
  height: 24px;
}

/* inner_video  */
.inner_video {
  width: 100%;
  max-height: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("https://demo.xpeedstudio.com/bajaar/electronics/wp-content/uploads/sites/2/2021/09/video_background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: 10px solid #fff;
}

.modal-video-inner {
  width: 100% !important;
  height: 300px !important;
}
.modal-video {
  position: absolute;
}
.modal-video-close-btn {
  background-color: green;
}

/* 

||||||||||||||||||||||||||||||||||||||||||||
          Footer Css
||||||||||||||||||||||||||||||||||||||||||||

*/

/* footer area  */
.footer_area {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}

/* top footer inner  */
.top_footer {
  border-bottom: 1px solid #e6ebf0;
}
.top_footer_inner {
  display: flex;
}
.top_footer_inner i {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 22px;
  color: #c9003a;
}
.top_footer_inner h5 {
  font-size: 17px;
}
.top_footer_inner p {
  margin-top: 5px;
}

/* search tag  */
/* .meddle_footer {
  border-bottom: 1px solid #e6ebf0;
  padding: 20px 0;
}
.popular_searches {
  padding: 10px 0;
}
.popular_searches i {
  font-size: 24px;
  padding-right: 10px;
  color: #c50038;
}
.search_tag ul {
  display: flex;
  flex-wrap: wrap;
}
.search_tag li {
  padding-right: 10px;
  border-right: 1px solid rgb(190, 189, 189);
  padding-left: 5px;
  line-height: 30px;
  cursor: pointer;
} */

/* main_footer  */
.main_footer {
  border-bottom: 20px;
  border-bottom: 1px solid #e6ebf0;
}
.main_footer li {
  padding: 3px 0;
  font-size: 14px;
  cursor: pointer;
}
.footer_title h5 {
  font-size: 1.2rem;
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.footer_title h5::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #e70042;
  left: 0;
  bottom: 0;
}
/* social icons  */
.social_icons i {
  width: 35px;
  height: 35px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  cursor: pointer;
}

.social_icons i:nth-child(1) {
  margin-left: 0;
  background-color: #3b5998;
}

.social_icons i:nth-child(2) {
  background-color: #1da1f2;
}

.social_icons i:nth-child(3) {
  background-color: #ff0000;
}

.social_icons i:nth-child(4) {
  background-color: #784ed5;
}

/* bottom footer  */
.bottom_footer {
  padding: 20px 0;
  /* border-bottom: 1px solid rgb(216, 216, 216); */
}
.footer_logo img {
  width: 150px;
}
.footer_shopping p {
  padding: 0;
  margin: 0;
}
.secured_ing img,
.payment_img img {
  width: 200px;
}

/* copy right footer  */
.copy_right_footer {
  padding: 10px 0;
  background-color: #f3f3f3;
}
.copy_right p {
  padding: 0;
  margin: 0;
  line-height: 35px;
  font-size: 14px;
}
.copy_right_footer img {
  width: 100px;
  background-color: #fff;
  border-bottom: 1px solid #e6ebf0;
  margin: 0 5px;
  border-radius: 10px;
}
.developer_by_payra_soft {
  background-color: #f3f3f3;
  padding: 5px 0;
  text-align: center;
}
.developer_by_payra_soft img {
  width: 150px;
}

@media (max-width: 678px) {
  .welcome_text {
    text-align: center;
  }
  .selector_area {
    text-align: center;
  }
  .top_header {
    display: none;
  }
}
@media (max-width: 978px) {
  .top_header {
    display: block;
  }
  .logo_area {
    text-align: center;
  }

  .selector_area {
    text-align: center;
  }
  .selector_area {
    text-align: center !important;
  }
  .hero_user_area {
    text-align: center !important;
    margin: auto;
    justify-content: center;
  }
  .top_search_box .hero_user_area {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .sub_menu {
    display: none;
  }
  .selector_area ul li {
    padding: 7px 3px;
    text-align: center;
  }
  .selector_area a {
    font-size: 12px;
  }
}

/* .product_bottom_img {
  text-align: center;
}
.product_bottom_img img {
  width: 100px;
  margin: 10px;
  opacity: 0.7;
} */
